<!-- header.html starts here -->
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Stop Provincial Interference!</h1>
            <!-- hr>
            <p>Stop Bill 18!</p -->
            <br/><br/><br/><br/>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a><br/><br/>
            <a href="#act" class="btn btn-primary btn-xl page-scroll">Add your voice!</a>
            <!-- p>Stop Bill 18!</p -->
        </div>
    </div>
</header>
<!-- header.html ends here -->
