<!-- whatcanido.html starts here -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What can I do?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pencil wow bounceIn text-primary"></i>
                    <h3>Write to your MLA</h3>
                    <p class="text-muted">Tell your MLA to stand up for the rights of Albertans to compete on a level playing field.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-mortar-board wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Demand that your administration and Board take up the issue</h3>
                    <p class="text-muted">Ask your university president what they are doing about this attack on University autonomy.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-university wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Contact your faculty association</h3>
                    <p class="text-muted">Contact your faculty Association.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-group wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Tell your neighbours</h3>
                    <p class="text-muted">Tell you neighbours.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- whatcanido.html ends here -->
