<!-- whatisbill.html starts here -->
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What is Bill 18?</h2>
                <hr class="light">
                <p class="text-faded">Alberta Bill 18 tells Albertans they can't be trusted with federal dollars.</p>
                <p class="text-faded">Alberta Bill 18, known as the Provincial Priorities Act, 2024, is a legislative proposal that mandates provincial oversight and approval of any contractual or collaborative agreements between Alberta's provincial entities and the federal government. This includes a broad range of institutions and bodies within the province, particularly targeting educational institutions such as universities and colleges. The bill is structured to ensure that any such agreements align with the specific priorities and policies set by the provincial government.</p>
<p>This legislation was introduced as a part of the Alberta government's broader strategy to assert more control and oversight over provincial affairs, especially those that involve interactions with the federal government. By requiring prior approval for these agreements, the bill aims to ensure that the engagements are consistent with Alberta’s strategic interests and provincial autonomy. The bill represents a significant shift in how provincial and federal interactions are managed, potentially affecting the autonomy of institutions in negotiating directly with the federal government and in pursuing objectives that may not fully align with provincial directives.</p>
<p>You can follow the progress of Bill 18 <a href-"https://www.assembly.ab.ca/assembly-business/assembly-dashboard?legl=31&session=1&sectionb=d&btn=i#page-menu">here</a>.</p>
<p>The text of Bill 18 is available <a href="https://docs.assembly.ab.ca/LADDAR_files/docs/bills/bill/legislature_31/session_1/20230530_bill-018.pdf">here</a>.</p>
                <a href="#contact" class="btn btn-default btn-xl">Act now</a>
            </div>
        </div>
    </div>
</section>
<!-- whatisbill18.html ends here -->
