<!-- whatisbill.html starts here -->
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Bill 18 gives the provincial government the power to prevent Albertans and Albertan organizations from applying for Federal grants and programmes</h2>
                <hr class="light">
                <p class="text-faded"></p>
                <p class="text-faded">Alberta Bill 18, known as the Provincial Priorities Act, 2024, is a legislative proposal that mandates provincial oversight and approval of any contractual or collaborative agreements between provincial entities and the federal government. This includes a broad range of institutions and bodies within the province, including universities and colleges. The bill allows provincial politicians and bureaucrats a veto over whether Albertans can accept their own tax dollars back from Ottawa.</p>
<p>The bill was introduced as a part of a sweeping power-grab by the province, reaching into all corners of local governance and public organizations in the province &#x2014; Bill 20, which allows the provincial cabinet to remove city councillors and invalidate local bylaws; Bill 22, which gives cabinet complete control over regional health care; and Bill 18, which prevents Albertan organizations from competing on a level playing field with Canadians across the country in federal grant competitions.</p>
<p class="text-faded">The bill represents a significant shift in how provincial and federal interactions are managed, potentially affecting the autonomy of institutions and individuals as they apply for federal funding or negotiate directly with the federal government.</p>
<p>You can follow the progress of Bill 18 <a href-"https://www.assembly.ab.ca/assembly-business/assembly-dashboard?legl=31&session=1&sectionb=d&btn=i#page-menu">here</a>.</p>
<p>The text of Bill 18 is available <a href="https://docs.assembly.ab.ca/LADDAR_files/docs/bills/bill/legislature_31/session_1/20230530_bill-018.pdf">here</a>.</p>
                <a href="#contact" class="btn btn-default btn-xl">Act now</a>
            </div>
        </div>
    </div>
</section>
<!-- whatisbill18.html ends here -->
