<!-- whoareyou.html starts here -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Stop Bill 18 is a coalition of Associations representing the people who do research in Alberta's Universities, Politechnics, and Colleges. Its members include</p>
                <p><a href="https://cafa-ab.ca">Confederation of Alberta Faculty Associations (CAFA)</a></p>
                <p>The <a href="https://cafa-ab.ca">Association of the Academic Staff of the University of Alberta (AASUA)</a></p>
                <p>The <a href="https://cafa-ab.ca">Athabasca University Faculty Association (AUFA)</a></p>
                <p>The <a href="https://cafa-ab.ca">Grant MacKewan Faculty Association (GMFA)</a></p>
                <p>The <a href="https://cafa-ab.ca">Mount Royal Faculty Association (MRFA)</a></p>
                <p>The <a href="https://cafa-ab.ca">University of Calgary Faculty Association (TUCFA)</a></p>
                <p>The <a href="https://cafa-ab.ca">University of Lethbridge Faculty Association (ULFA)</a></p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
    </div>
</section>
<!-- whoareyou.html ends here -->
