<!-- whyisbill18bad.html starts here -->
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Alberta Bill 18 tells Albertans they can't be trusted with federal dollars. </h2>
                <hr class="light">
                <p class="text-faded">It's time to tell Edmonton to back off.</p>
                <p class="text-faded">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum arcu eget mi malesuada, id vulputate ipsum fringilla. Vivamus sit amet mi et leo pharetra elementum a in risus. Aenean at felis id ipsum dictum tempor ut pulvinar quam. Duis id neque vel leo posuere ornare a sit amet sapien. Etiam pulvinar leo odio, eget pulvinar libero volutpat a. Etiam dui felis, semper non molestie vel, porta sit amet nisl. Phasellus ullamcorper tellus ipsum, vel volutpat est condimentum eget. Sed sed hendrerit ex. Nulla ultrices ipsum nec nibh tincidunt, vitae auctor neque congue. Donec interdum diam id sapien consequat lobortis. Phasellus ut massa turpis.</p>
                <a href="#contact" class="btn btn-default btn-xl">Act now</a>
            </div>
        </div>
    </div>
</section>
<!-- whyisbill18bad.html ends here -->
