<!-- whyisbill18bad.html starts here -->
<section class="bg-primary" id="bad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Bill 18 makes Alberta less competitive.</h2>
                <hr class="light">
                <p class="text-faded">Last year, Albertan researchers brought in over $500 million in research grants. Bill 18 puts that success at risk.</p>
                <p class="text-faded">As currently written, Bill 18 gives the Alberta government the power to review federal research funds received by university-based researchers to ensure that these research projects "align" with the provincial government’s ideological priorities. Not only does this mean that scientific research questions will be subject to ideological tests, it also ties our researchers in red-tape, reducing their ability to compete with other Canadians for federal research dollars.</p>
                <h2 class="section-heading">Bill 18 prevents innovation and harms Alberta's reputation as a place to do cutting edge research.</h2>
                 <p class="text-faded">This bill will harm Alberta's reputation as a place to do cutting-edge research:</p>
                 <ul>
                 <li>reducing the ability of Alberta’s researchers to compete with those in other provinces for scarce federal research funds;</li>
                 <li>impeding the ability of Alberta’s universities to attract and retain high caliber researchers, who may choose to work in provinces with a less bureaucratic approach to attracting federal funding; and</li>
                 <li>making it harder for researchers already in Alberta to lead or participate in national and international partnerships with projects in jurisdictions that are not subject to ideological interference.</li>
                 </ul>
                <h2 class="section-heading">Bill 18 reduces the funding available to Albertan college and university students.</h2>
                <p class="text-faded">Bill 18 also puts undergraduate, graduate, and postdoctoral student employment at risk. Federal research grants routinely budget a large percentage for student research assistants. At Mount Royal alone there are 135 students who work for faculty with federal research grants; there are many more at other universities. Bill 18 will make post-secondary education less affordable by reducing this major source of student support and threatens to have long-term impacts on Alberta’s ability to attract and train highly skilled students.</p>
                <h2 class="section-heading">Bill 18 says Albertans can't be trusted to make their own decisions.</h2>
                <p class="text-faded">Albertans know that they are best served by research that is assessed on its scientific merit rather than political ideology. The freedom of researchers to pursue the most pressing problems rather than the most politically convenient is what allows a province to thrive in today’s knowledge economy. Bill 18 threatens this  freedom and the ability of post-secondary institutions and the academic community to ensure that research and scholarship is conducted to the highest peer-reviewed standards by substituting the opinions of government politicials and bureaucrats for that of the Albertans who are actually making the discoveries.</p>
                <p class="text-faded">Alberta can’t afford to damage its reputation and abandon its position as one of the best places to conduct research today. 
                                <a href="#act" class="btn btn-default btn-xl">Act now</a>

            </div>
        </div>
    </div>
</section>
<!-- whyisbill18bad.html ends here -->
